@import 'variables';
.myLanguages{
  padding-top: 1rem;
  background-color: $Secondary;
  color: $headingText;
  padding-left: 10rem;
  padding-right: 10rem;
  .Languages{
    color: $headingText;
    font-size: $BodyFont;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: $headingBG;
    padding: 5px;
    border-radius: $BorderRad2;
  }
}

.CSharp{
  width: 40%;
  background-color: $CSharpColor;
}
.Java{
  width: 60%;
  background-color: $JavaColor;
}
.Javascript{
  width: 50%;
  background-color: $JavascriptColor;
}
.HtmlAndCss{
  width: 40%;
  background-color: $HtmlColor;
}