$Paragraph: #32322C;
$headingBG: white;
$headingText: #32322C;
$Primary: #32322C;
$Secondary: #36F1CD;
$Section: #13C4A3;
$JavaColor: #ff1a11;
$JavascriptColor: #0cff14;
$CSharpColor: #0c1bff;
$HtmlColor: #871cff;
$BorderRad1: 25px;
$BorderRad2: 15px;
$BodyFont: 16pt;
$HeadingFont: 24pt;
